.root {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  @apply h-[4em] items-center sticky px-8 top-0 mb-[2rem] z-50 hidden md:flex md:justify-between;
}

.siteName {
  @apply px-8 text-3xl font-bold text-gray-900 font-inter;
}
